.vertical-center {
  margin: auto;
  text-align: center;
}

.landing {
  background-image: url("../img/autumn.jpeg") !important;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
}

.jumbotron-landing {
  padding: 2rem 1rem;
  background-color: rgba(142, 142, 142, 0.7);
  border-radius: 0.3rem;
}
