# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
railway

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/vendor
./railway
.vs

# React related ingores

# dependencies
/web/node_modules

# testing
/web/coverage

# production
/web/build

# misc
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
