.orange--sites-list .ui.inverted.table th {
	background: rgba(0,0,0,0.6);
}

.orange--sites-list .ui.inverted.table {
	background: transparent;
}

.orange--sites-list .ui.celled.table tr td, .orange--sites-list  .ui.celled.table tr th {
	background: rgba(0,0,0,0.3);
	cursor: pointer;
}
